.accueil-guest-container {
    .accueil-container-top {
        background: url('../img/jardin.JPG') no-repeat 100% bottom;
        color:white;
        height:25rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem; 
    }
}


.accueil-tondu-container {
    padding:2rem 2rem 20% 2rem;    // Haut Droite Bas Gauche
    position: relative;
    background-image:url('../img/jardin.JPG');
    background-repeat: no-repeat;
    background-position: center;
    .accueil-tondu-bonjour {
        color:white;
        font-size:4rem;
    }
    .accueil-titre {
        color: white;
        font-weight: 600;
        font-size:3rem;
    }
    .grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 4rem;
        color:white;
        .left {
            grid-column: 1;
            .container-annonces {
                border-left: solid white 4px;
                padding-left: 0.75rem;
                .annonce-solo {
                    border-left: solid white 2px;
                    padding-left: 1.5rem;
                    margin: 1rem 0 ; 
                    .titre-annonce {
                        font-weight: bold;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                    .texte-annonce {
                        font-size: 0.8rem;
                    }
                    .lien-annonce {
                        display: flex;
                        flex-direction: row-reverse;
                        padding-right:4rem;
                        a {
                            color:white;
                            font-size:0.8rem;
                            text-decoration: none;
                            font-style: italic;
                        }
                    } 
                }
            }
        }
        .right {
            grid-column: 2;
            position: relative;
            .container-annoncestype {
                padding-left: 2rem;
                .annoncetype {
                    font-size:2.6rem;
                    font-weight: bold;
                }
            }
        }
    }
    .simple-text {
        color:white;
    }
    .container-reponses {
        margin-top:2rem;
        .list-reponses {
            border-left: solid white 4px;
            padding-left: 0.75rem;
            .detail-reponse {
                border-left: solid white 2px;
                padding-left: 1.5rem;
                margin: 1rem 0 ; 
                color: white;
                a {
                    color:white;
                    font-weight: bold;
                    text-decoration: none;
                }
                .reponse-choix {
                    text-align: right;
                    margin-top: 0.4rem;
                    width: 50%;
                    a {
                        margin-left: 4rem;
                    }
                }
            }
        }
    }
}

.accueil-tondeur-container {
    padding:2rem 2rem 20% 2rem;    // Haut Droite Bas Gauche
    position: relative;
    background-image:url('../img/jardin.JPG');
    background-repeat: no-repeat;
    background-position: center;
    .accueil-tondeur-bonjour {
        color:white;
        font-size:4rem;
    }
    .accueil-titre {
        color: white;
        font-weight: 600;
        font-size:3rem;
    }
    .container-reponses {
        .list-reponses {
            border-left: solid white 4px;
            padding-left: 0.75rem;
            .details-reponse {
                border-left: solid white 2px;
                padding-left: 1.5rem;
                margin: 1rem 0 ; 
                color: white;
                a {
                    color:white;
                    font-weight: bold;
                    text-decoration: none;
                }
                .reponse-choix {
                    text-align: right;
                    margin-top: 0.4rem;
                    width: 50%;
                    a {
                        margin-left: 4rem;
                    }
                }
            }
        }
    }
}






















