.accueil-tondu-container {
    widows: 100%;
    height: auto;
    padding:2rem;
    background-image:url('../img/jardin.JPG');
    background-repeat: no-repeat;
    background-position: center;
    .accueil-tondu-bonjour {
        color:white;
        font-size:4rem;
    }
    .accueil-tondu-grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 2rem;
        color:white;
        .accueil-tondu-left {
            grid-column: 1;
            .accueil-tondu-vos-annonces {
                font-weight: bold;
                font-size:3rem;
            }
            .accueil-tondu-container-annonces {
                border-left: solid white 4px;
                padding-left: 0.75rem;
                .accueil-tondu-annonce-solo {
                    border-left: solid white 2px;
                    padding-left: 1.5rem;
                    margin: 1rem 0 ; 
                    .accueil-tondu-titre-annonce {
                        font-weight: bold;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                    .accueil-tondu-texte-annonce {
                        font-size: 0.8rem;
                    }
                    .accueil-tondu-lien-annonce {
                        display: flex;
                        flex-direction: row-reverse;
                        padding-right:4rem;
                        a {
                            color:white;
                            font-size:0.8rem;
                            text-decoration: none;
                            font-style: italic;
                        }
                    } 
                }
            }
        }
        .accueil-tondu-right {
            grid-column: 2;
        }
    }
}