// #footer {
//     background-color: green;
//     display: grid;
//     grid-template-columns : 1fr 1fr 1fr 1fr;
//     grid-gap : 40px;
//     grid-template-areas: 
//     "tb1 tb2 tb3 tb4"
//     "tb1 tb2 tb3 tb5";
// }

// #footer {
//     font-family: "BrokenChalk","Arial", sans-serif;
//     div {
//         ul {
//             li {
//                 line-height: 1.4;
//             }
//         }
//     }
// }

// #footer-col-1 {
//     text-align: center;
//     text-decoration: none;
//     grid-area: tb1;
//     padding-left: 50px;
//     padding-top: 25px;
// }

//     #footer-col-1 ul li{
//         list-style-type: none; 
//     }

//         #footer-col-1 ul li a{
//             text-decoration: none; 
//             color:white;
//             font-size: 0.8rem;
//         }

// #footer-col-2 {
//     text-align: center;
//     text-decoration: none;
//     grid-area: tb2;
//     padding-top: 25px;
// }

//      #footer-col-2 ul li{
//         list-style-type: none;
//     }

//         #footer-col-2 ul li a{
//             text-decoration: none; 
//             color:white;
//             font-size: 0.8rem;
//         }

// #footer-col-3 {
//     text-align: center;
//     text-decoration: none;
//     grid-area: tb3;
//     padding-top: 25px;
//     padding-bottom:20px;
//     }

//         #footer-col-3 ul li{
//              list-style-type: none;
//         }

//             #footer-col-3 ul li a{
//                  text-decoration: none; 
//                  color:white;
//                  font-size: 0.8rem;
//              }

// #footer-col-4 {
//     text-align: center;
//     text-decoration: none;
//     grid-area: tb4;  
//     padding-top: 25px;  
// }   

//     #footer-col-4 ul li{
//         list-style-type: none; 
//     }

//         #footer-col-4 ul li a{
//            text-decoration: none; 
//            color:white;
//            font-size: 0.8rem;
//           }

// #footer-col-5 {
//     text-align: center;
//     text-decoration: none;
//     grid-area: tb5;   
//     margin-top:-85px;
// }

// #footer-col-5 ul li{
//     list-style-type: none; 
// }

//     #footer-col-5 ul li a{
//        text-decoration: none; 
//        color:white;
//        font-size: 0.8rem;
//     }

// .titrefooter {
// font-size:1.2rem;
// line-height: 2;
// color: white;
// }

// #footer-mail {
//     padding:5px;
//     border-radius: 5px;
//     border:none;
// }

// #footer-submit {
//     background-color:darkgreen;
//     border:none;
//     padding:6px;
//     margin-left:-5px;
//     border-radius: 5px;
// }

// #footer-envoie:hover {
//     background-color:darkolivegreen;
//     cursor: pointer;
// }

footer {
    color:white;
    background-color:$green;
    font-family: $font-family-sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:    "f-c-1 f-c-2 f-c-3 f-c-4"
                            "f-c-1 f-c-2 f-c-3 f-c-5";
    padding: 1.6rem;
    div {
        input {
            border:none;
            padding:0.6rem;
        }
        input#footer-mail {
            background-color:white;
            color:$grey;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            width:60%;
        } input#footer-submit {
            background-color:$lightgrey;
            color:white;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            width:35%;
            transition:background-color 0.4s;
        } input#footer-submit:hover {
            transition:background-color 0.4s;
            background-color:$grey;
            cursor: pointer;
        }

        ul {
            list-style-type: none;
            li {
                padding-bottom:0.4rem;
                a {
                    color:white;
                    text-decoration: none;
                }
            } li:first-child {
                font-weight: bold;
                padding-bottom: 1rem;
            }
            input {
                display: flex;
            }
        }
    }
    div#footer-col-1 { grid-area: f-c-1; }
    div#footer-col-2 { grid-area: f-c-2; }
    div#footer-col-3 { grid-area: f-c-3; }
    div#footer-col-4 { grid-area: f-c-4; }
    div#footer-col-5 { grid-area: f-c-5; }
}



@media screen and (max-width: 640px) {
    #footer {
        padding: 2rem 2rem; 
        display: inline-block;
        width: 100%;
        div {
            padding: 0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:1.8rem;

            input {
                margin-top:0.4rem;
                height:2.4rem;
                font-size:1.2rem;
            } #footer-mail  { width:50%; padding-left:0.6rem; } #footer-submit{ width:30%; }
            ul li { margin-bottom: 0.56rem; line-height: 1.2;}
            ul li a{ font-size:1.2rem; }
            ul li .titrefooter { font-size:1.4rem; }
        }
    }
 }