/* CSS pour PC (en dessous) */
#menu-toogle {
  background-color:$vert;
  display : flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav.nav {
    background-color:$vert;
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    img {}
    
    button {
      display: none !important;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-top:7px;
        margin-bottom:7px;

        li {
          color:white;
            margin-right:14px;
            a{
                color:white;
                text-decoration: none;
            }
        }
    }
}

/* CSS pour mobile */
@media screen and (max-width: 640px) { 
  header {
      flex-direction: column !important;
    button {
      display: inline-block !important;
    }
    nav {
      ul {
        flex-direction: column !important;
        li {
            margin-left:auto;
            margin-right:auto;
            padding:7px;
        }
      }
    }
  }  
}