/* CSS pour PC (en dessous) */
#menuToggle {
  display:none;
}

nav.nav {
    background-color:$vert;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    
    #logo-menu {
      display: inline-block;
      img {
        margin-left:1.4rem;
        margin-top:0.2rem;
        height: 1.5rem;
      }
    }
    #titre {
      display: inline-block;
      color:white;
      padding-bottom: 10px;
    }
    
    button {
      display: none !important;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-top:7px;
        margin-bottom:7px;

        li {
          color:white;
            margin-right:14px;
            a{
                color:white;
                text-decoration: none;
            }
        }
    }
}

/* CSS pour mobile */
@media screen and (max-width: 640px) { 
  #menuToggle {
    display:inline-block;
    background-color: $vert;
    float: right;
  }

  nav.nav {
    display: block;
    #logo-menu {
      display: inline-block;
      img {
        margin-left:0.4rem;
        margin-top:0.2rem;
        height: 3.2rem;
      }
    }

    #menu {
      display:none;
      ul {
        display: block;
        li {
          margin:0;
          a {
            display: block;
            margin-right:auto;
            margin-left:auto;
            width:50%;
            text-align: center;
            padding: 0.4rem;
            border-bottom: 1px white solid;
          } 
        }li.li-last a {
          border-bottom: none;
        }
      }
    }
  }
}