
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

// @import '~bootstrap/scss/bootstrap';

@import '_header';
@import '_footer';
@import '_accueil';
@import 'elements/form';
@import 'elements/legal';

body {
    background-color:#FFFDF0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

.main-content {
    position: relative;
    padding-bottom: 20%;
}