
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

// @import '~bootstrap/scss/bootstrap';

@import '_header';
@import '_footer';
@import 'elements/form.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }