@import url("https://fonts.googleapis.com/css?family=Nunito");
/* CSS pour PC (en dessous) */
#menuToggle {
  display: none; }

nav.nav {
  background-color: #468a3f;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif; }
  nav.nav #logo-menu {
    display: inline-block; }
    nav.nav #logo-menu img {
      margin-left: 1.4rem;
      margin-top: 0.2rem;
      height: 1.5rem; }
  nav.nav #titre {
    display: inline-block;
    color: white;
    padding-bottom: 10px; }
  nav.nav button {
    display: none !important; }
  nav.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px; }
    nav.nav ul li {
      color: white;
      margin-right: 14px; }
      nav.nav ul li a {
        color: white;
        text-decoration: none; }

/* CSS pour mobile */
@media screen and (max-width: 640px) {
  #menuToggle {
    display: inline-block;
    background-color: #468a3f;
    float: right; }
  nav.nav {
    display: block; }
    nav.nav #logo-menu {
      display: inline-block; }
      nav.nav #logo-menu img {
        margin-left: 0.8rem;
        margin-top: 0.6rem;
        margin-bottom: 0.4rem;
        height: 2.4rem; }
    nav.nav #menu {
      display: none; }
      nav.nav #menu ul {
        display: block; }
        nav.nav #menu ul li {
          margin: 0; }
          nav.nav #menu ul li a {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 50%;
            text-align: center;
            padding: 0.4rem;
            border-bottom: 1px white solid; }
        nav.nav #menu ul li.li-last a {
          border-bottom: none; } }

#footer-img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0; }
  #footer-img svg {
    fill: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; }

footer {
  color: white;
  background-color: #468a3f;
  font-family: "Aileron", sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "f-c-1 f-c-2 f-c-3 f-c-4" "f-c-1 f-c-2 f-c-3 f-c-5";
  padding: 1.6rem; }
  footer div input {
    border: none;
    padding: 0.6rem; }
  footer div input#footer-mail {
    background-color: white;
    color: #666666;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 60%; }
  footer div input#footer-submit {
    background-color: #B8B8B8;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 35%;
    transition: background-color 0.4s; }
  footer div input#footer-submit:hover {
    transition: background-color 0.4s;
    background-color: #666666;
    cursor: pointer; }
  footer div ul {
    list-style-type: none; }
    footer div ul li {
      padding-bottom: 0.4rem; }
      footer div ul li a {
        color: white;
        text-decoration: none; }
    footer div ul li:first-child {
      font-weight: bold;
      padding-bottom: 1rem; }
    footer div ul input {
      display: flex; }
  footer div#footer-col-1 {
    grid-area: f-c-1; }
  footer div#footer-col-2 {
    grid-area: f-c-2; }
  footer div#footer-col-3 {
    grid-area: f-c-3; }
  footer div#footer-col-4 {
    grid-area: f-c-4; }
  footer div#footer-col-5 {
    grid-area: f-c-5; }

@media screen and (max-width: 640px) {
  #footer {
    padding: 2rem 2rem;
    display: inline-block;
    width: 100%; }
    #footer div {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 1.8rem; }
      #footer div input {
        margin-top: 0.4rem;
        height: 2.4rem;
        font-size: 1.2rem; }
      #footer div #footer-mail {
        width: 50%;
        padding-left: 0.6rem; }
      #footer div #footer-submit {
        width: 30%; }
      #footer div ul li {
        margin-bottom: 0.56rem;
        line-height: 1.2; }
      #footer div ul li a {
        font-size: 1.2rem; }
      #footer div ul li .titrefooter {
        font-size: 1.4rem; } }

.accueil-guest-container .accueil-container-top {
  background: url("../img/jardin.JPG") no-repeat 100% bottom;
  color: white; }

.accueil-tondu-container {
  padding: 2rem 2rem 20% 2rem;
  position: relative;
  background-image: url("../img/jardin.JPG");
  background-repeat: no-repeat;
  background-position: center; }
  .accueil-tondu-container .accueil-tondu-bonjour {
    color: white;
    font-size: 4rem; }
  .accueil-tondu-container .accueil-titre {
    color: white;
    font-weight: 600;
    font-size: 3rem; }
  .accueil-tondu-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    color: white;
    min-height: 35vh; }
    .accueil-tondu-container .grid .left {
      grid-column: 1; }
      .accueil-tondu-container .grid .left .container-annonces {
        border-left: solid white 4px;
        padding-left: 0.75rem; }
        .accueil-tondu-container .grid .left .container-annonces .annonce-solo {
          border-left: solid white 2px;
          padding-left: 1.5rem;
          margin: 1rem 0; }
          .accueil-tondu-container .grid .left .container-annonces .annonce-solo .titre-annonce {
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 1.6rem; }
          .accueil-tondu-container .grid .left .container-annonces .annonce-solo .texte-annonce {
            font-size: 0.8rem; }
          .accueil-tondu-container .grid .left .container-annonces .annonce-solo .lien-annonce {
            display: flex;
            flex-direction: row-reverse;
            padding-right: 4rem; }
            .accueil-tondu-container .grid .left .container-annonces .annonce-solo .lien-annonce a {
              color: white;
              font-size: 0.8rem;
              text-decoration: none;
              font-style: italic; }
    .accueil-tondu-container .grid .right {
      grid-column: 2;
      position: relative; }
      .accueil-tondu-container .grid .right .container-annoncestype {
        padding-left: 2rem; }
        .accueil-tondu-container .grid .right .container-annoncestype .annoncetype {
          font-size: 2.6rem;
          font-weight: bold; }
  .accueil-tondu-container .simple-text {
    color: white; }
  .accueil-tondu-container .container-reponses {
    margin-top: 2rem; }
    .accueil-tondu-container .container-reponses .list-reponses {
      border-left: solid white 4px;
      padding-left: 0.75rem; }
      .accueil-tondu-container .container-reponses .list-reponses .detail-reponse {
        border-left: solid white 2px;
        padding-left: 1.5rem;
        margin: 1rem 0;
        color: white; }
        .accueil-tondu-container .container-reponses .list-reponses .detail-reponse a {
          color: white;
          font-weight: bold;
          text-decoration: none; }
        .accueil-tondu-container .container-reponses .list-reponses .detail-reponse .reponse-choix {
          text-align: right;
          margin-top: 0.4rem;
          width: 50%; }
          .accueil-tondu-container .container-reponses .list-reponses .detail-reponse .reponse-choix a {
            margin-left: 4rem; }

.accueil-tondeur-container {
  padding: 2rem 2rem 20% 2rem;
  position: relative;
  background-image: url("../img/jardin.JPG");
  background-repeat: no-repeat;
  background-position: center; }
  .accueil-tondeur-container .accueil-tondeur-bonjour {
    color: white;
    font-size: 4rem; }
  .accueil-tondeur-container .accueil-titre {
    color: white;
    font-weight: 600;
    font-size: 3rem; }
  .accueil-tondeur-container .container-reponses .list-reponses {
    border-left: solid white 4px;
    padding-left: 0.75rem; }
    .accueil-tondeur-container .container-reponses .list-reponses .details-reponse {
      border-left: solid white 2px;
      padding-left: 1.5rem;
      margin: 1rem 0;
      color: white; }
      .accueil-tondeur-container .container-reponses .list-reponses .details-reponse a {
        color: white;
        font-weight: bold;
        text-decoration: none; }
      .accueil-tondeur-container .container-reponses .list-reponses .details-reponse .reponse-choix {
        text-align: right;
        margin-top: 0.4rem;
        width: 50%; }
        .accueil-tondeur-container .container-reponses .list-reponses .details-reponse .reponse-choix a {
          margin-left: 4rem; }

.form-container {
  width: 70%;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto; }
  .form-container h1 {
    text-align: center;
    margin-bottom: 1.6rem; }
  .form-container form {
    display: flex;
    flex-direction: column; }
    .form-container form .form-group {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.6rem;
      justify-content: center; }
      .form-container form .form-group label {
        text-align: right;
        margin-right: 16px;
        flex: 0.2;
        color: grey;
        padding-top: 0.4rem; }
        .form-container form .form-group label b {
          font-weight: normal;
          padding-bottom: 5px;
          padding-left: 15px;
          border-bottom: 1px solid grey; }
      .form-container form .form-group div {
        flex: 0.4; }
      .form-container form .form-group input {
        width: 100%;
        padding: 0.4rem; }
    .form-container form .form-remember {
      color: grey;
      text-align: center;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }
      .form-container form .form-remember label {
        margin-left: 16px; }
    .form-container form .form-submit {
      text-align: center;
      margin-top: 0.4rem; }
      .form-container form .form-submit button {
        border: 1px solid grey;
        background-color: #468a3f;
        border-radius: 10px;
        font-weight: bold;
        color: white;
        padding: 4% 7%;
        transition: background-color 0.4s ease-out; }
    .form-container form .form-reset {
      text-align: center; }
      .form-container form .form-reset a {
        text-decoration: none;
        padding-top: 0.4rem;
        font-size: 0.8rem;
        color: grey; }
      .form-container form .form-reset a:hover {
        text-decoration: underline; }
    .form-container form .deja-compte {
      text-align: center; }
      .form-container form .deja-compte a {
        text-decoration: none;
        padding-top: 0.4rem;
        font-size: 0.8rem;
        color: grey; }
      .form-container form .deja-compte a:hover {
        text-decoration: underline; }
    .form-container form .form-group-checkbox .form-group-input .form-radio {
      display: inline-block;
      width: 40%;
      text-align: center; }
      .form-container form .form-group-checkbox .form-group-input .form-radio label b {
        color: grey; }
    .form-container form .form-group-checkbox .form-group-input .form-radio:first-child {
      text-align: right; }

@media screen and (max-width: 640px) {
  .form-container {
    width: 90%; }
    .form-container form .form-group {
      display: block; }
      .form-container form .form-group label b {
        display: block; } }

.container-information {
  width: 70%;
  padding: 2rem 0rem;
  margin-right: auto;
  margin-left: auto; }
  .container-information h2 {
    font-size: 3.6rem;
    margin-bottom: 1.4rem; }
  .container-information ul li {
    list-style-type: none;
    margin-bottom: 1.2rem;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word; }
    .container-information ul li b {
      font-size: 2rem; }
    .container-information ul li i {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: bold; }
    .container-information ul li ul {
      padding-left: 3rem; }
      .container-information ul li ul li {
        margin-bottom: 0;
        list-style-type: disc; }
  .container-information .list-donnee ul li {
    margin-bottom: 0;
    list-style-type: disc; }
    .container-information .list-donnee ul li b {
      font-size: 1rem; }

@media screen and (max-width: 640px) {
  .container-legal h2 {
    font-size: 2.8rem; }
  .container-legal ul li {
    text-align: left;
    line-height: 1.6; } }

body {
  background-color: #FFFDF0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.main-content {
  position: relative;
  padding-bottom: 20%; }
