.form-container {
    width:70%;
    padding:2rem;
    margin-right: auto; margin-left: auto;
    h1 {
        text-align: center;
        margin-bottom: 1.6rem; 
    }
    form {
        display:flex;
        flex-direction: column;
        .form-group {
            display: flex;
            flex-direction: row;
            margin-bottom:0.6rem;
            justify-content: center;
            label {
                text-align: right;
                margin-right:16px;
                flex:0.2;
                color: grey;
                padding-top:0.4rem;
                b {
                    font-weight: normal;
                    padding-bottom:5px;
                    padding-left: 15px;
                    border-bottom: 1px solid grey;
                }
            }
            div{
                flex:0.4;
            }
            input {
                width:100%;
                padding:0.4rem;
            }
        }

        .form-remember {
            color: grey;
            text-align: center;
            display:inline-block;
            margin-left:auto;
            margin-right:auto;
            label {
                margin-left:16px;
            }
        }

        .form-submit {
            text-align: center;
            margin-top:0.4rem;
            button {
                border:1px solid grey;
                background-color: #468a3f;
                border-radius: 10px;
                font-weight: bold;
                color:white;
                padding: 4% 7%;
                transition:background-color 0.4s ease-out;
            }
        }

        .form-reset {
            text-align: center;
            a {
                text-decoration: none;
                padding-top:0.4rem;
                font-size: 0.8rem;
                color: grey;
            } a:hover {
                text-decoration: underline;
            }
        }

    }
}

/* CSS pour mobile */
@media screen and (max-width: 640px) { }