.form-container {
  width: 70%;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto; }
  .form-container h1 {
    text-align: center;
    margin-bottom: 1.6rem; }
  .form-container form {
    display: flex;
    flex-direction: column; }
    .form-container form .form-group {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.6rem;
      justify-content: center; }
      .form-container form .form-group label {
        text-align: right;
        margin-right: 16px;
        flex: 0.2;
        color: grey;
        padding-top: 0.4rem; }
        .form-container form .form-group label b {
          font-weight: normal;
          padding-bottom: 5px;
          padding-left: 15px;
          border-bottom: 1px solid grey; }
      .form-container form .form-group div {
        flex: 0.4; }
      .form-container form .form-group input {
        width: 100%;
        padding: 0.4rem; }
    .form-container form .form-remember {
      color: grey;
      text-align: center;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }
      .form-container form .form-remember label {
        margin-left: 16px; }
    .form-container form .form-submit {
      text-align: center;
      margin-top: 0.4rem; }
      .form-container form .form-submit button {
        border: 1px solid grey;
        background-color: #468a3f;
        border-radius: 10px;
        font-weight: bold;
        color: white;
        padding: 0.5rem 1rem; }
    .form-container form .form-reset {
      text-align: center; }
      .form-container form .form-reset a {
        text-decoration: none;
        padding-top: 0.4rem;
        font-size: 0.8rem;
        color: grey; }
      .form-container form .form-reset a:hover {
        text-decoration: underline; }
    .form-container form .deja-compte {
      text-align: center; }
      .form-container form .deja-compte a {
        text-decoration: none;
        padding-top: 0.4rem;
        font-size: 0.8rem;
        color: grey; }
      .form-container form .deja-compte a:hover {
        text-decoration: underline; }
    .form-container form .form-group-checkbox .form-group-input .form-radio {
      display: inline-block;
      width: 40%;
      text-align: center; }
      .form-container form .form-group-checkbox .form-group-input .form-radio label b {
        color: grey; }
    .form-container form .form-group-checkbox .form-group-input .form-radio:first-child {
      text-align: right; }

@media screen and (max-width: 640px) {
  .form-container {
    width: 90%; }
    .form-container form .form-group {
      display: block; }
      .form-container form .form-group label b {
        display: block; } }
